.select {
  display: inline-block;
  border: 1px solid gray;
}

.optionsList {
  border: 1px solid gray;
}

.groupOption {
  border-bottom: 1px solid gray;
}

.current {
  background-color: darkcyan;
}
